@page
@model ReviewModel
<html>
<head>
    <title>Challenge Collector</title>
</head>
<body>
    <h4>Find My Solution</h4>
    <hr/>
    <form method="post" enctype="multipart/form-data">
        <table cellpadding="5">
            <tr>
                <td>
                    <label for="passphrase">Passphrase<span style="color: red">*</span></label>
                </td>
                <td>
                    <input type="text" name="passphrase" style="width: 300px" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="handle">Handle<span style="color: red">*</span></label>
                </td>
                <td>
                    <input type="text" name="handle" style="width: 300px" />
                </td>
            </tr>
        </table>
        <hr />
        <input type="submit" value="Submit" />
        @if (Model.ErrorMessage != null)
        {
            <div style="color:red;">@Model.ErrorMessage</div>
        }
    </form>
</body>
</html>